

/* Site Resets: */


#header-blue-container, #nav-text {
    display: none;
}
li {
    width: 100%;
}


/* Header(Hamburger Dropdown) Content: */


#dropdown-img {
    margin-right: 35px;
    transform: rotate(180deg);
    float: right;
    width: 47px;
    fill: white;
}
#dropdown-item-container {
    width: 100%;
    background-color: rgba(9, 108, 152, 0.7);
}
#dropdown-item {
    padding: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
    font-family: 'Teko', sans-serif;
    color: white;
    font-size: 30px;
}
#dropdown-item:hover {
    opacity: 20%;
}




#latest-news {
    align-items: center;
    justify-content: center;
    color: white;
}
#latest-news-container {   /* <-- Latest News */
    text-align: center;
    display: flex;
    align-items: center;
}
