

/* Site Resets: */


* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    transition: opacity 0.3s ease-in-out;
    list-style-type: none;
    text-decoration: none;
}


/* Header Content: */


@media only screen and (min-width: 1160px) {
    #dropdown-item-container {
        display: none;
    }
}
#nav-img-container:hover, #nav-text-container:hover, #dropdown-img-container:hover {   /* <-- Change Opacity On Very Element When Hovering Over*/
    opacity: 20%;
    cursor: pointer;
}
#header-black-container > ul, #header-blue-container > ul {   /* <-- Aligning The Elements In One Line */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#header-black-ul {   /* <--- Black Header UL */
    background-color: black;
    height: 80px;
}
#header-blue-ul {   /* <--- Blue Header UL */
    background-color: rgba(9, 108, 152, 1);
    height: 60px;
}
#black-nav-img {
    width: 300px;
}



/* Header Text Section: */


#nav-text {
    font-family: 'Teko', sans-serif;
    color: white;
    font-size: 30px;
    padding-right: 9px;
    padding-left: 9px;
}


/* Main Content: */


#maincontent {
    width: 100%;
}
@media only screen and (max-width: 1450px) {
    #latest-news-container {
        position: relative;
    }
    #latest-news-container > #latest-news-img {
        opacity: 40%;
        width: 100%;
    }
    #latest-news-container > #latest-news-img:hover {
        opacity: 100%;
    }
    #latest-news-container > #latest-news-img:hover ~ #latest-news {
        display: none;
    }
    #latest-news {
        left: 25%;
        position: absolute;
    }
    #aside-container > #aside1 > #aside1-pic {
        opacity: 70%;
    }
    #aside-container > #aside1 > #aside1-pic:hover {
        opacity: 90%;
    }
    #aside-container > #aside1 > #aside1-pic:hover ~ #aside1-text {
         display: none;
    }
    #aside-container > #aside2 > #aside2-pic {
        opacity: 70%;
    }
    #aside-container > #aside2 > #aside2-pic:hover {
        opacity: 90%;
    }
    #aside-container > #aside2 > #aside2-pic:hover ~ #aside2-text {
         display: none;
    }
    #tdinfo-img {
        opacity: 70%;
    }
    #tdinfo-img:hover {
        opacity: 90%;
    }
    #tdinfo-img:hover ~ #tdinfo-text {
        display: none;
    }
}
#latest-news-img {
    opacity: 90%;
}
#latest-news {
    margin-right: auto;
    margin-left: auto;
    color: white;
}
#latest-news-container {   /* <-- Latest News */
    font-size: 50px;
    font-family: 'Teko', sans-serif;
    margin: 1%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(9, 108, 152, 0.8);
    width: 98%;
    height: auto;
}
#sitebody {   /* <-- Site Body Section */
    display: flex;
    flex-direction: column;
    background-image: url("Pictures/gridlife-fcpeuro-press-7.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: auto;
}
#aside-container {
    position: relative;
    width: 98%;
    margin: 1%;
    display: flex;
    flex-flow: row nowrap;
}
#aside1-text, #aside2-text {
    padding: 10px;
}
#aside1 {
    background-color: rgba(9, 108, 152, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5%;
    width: 50%;
}
#aside2 {
    background-color: rgba(9, 108, 152, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.5%;
    width: 50%;
}
#aside1-text {
    background-color: rgba(223, 176, 29, 0.8);
    position: absolute;
    opacity: 100%;
    color: white;
    font-size: 2.9vw;
    white-space: nowrap;
}
#aside2-text {
    background-color: rgba(35, 48, 82, 0.8);
    position: absolute;
    opacity: 100%;
    color: white;
    font-size: 2.9vw;
    white-space: nowrap;
}
#aside1-pic {
    opacity: 90%;
    width: 100%;
    height: auto;
}
#aside2-pic {
    opacity: 90%;
    width: 100%;
    height: auto;
}
#ucimg {
    max-width: 333px;
    width: auto;
    height: 0.75em;
}
#uev {
    background-color: rgba(0, 0, 0, 0.8);
    margin: 1%;
    text-align: center;
    font-family: 'Teko', sans-serif;
    font-size: 30px;
    font-weight: bolder;
}
#uev > h1 {
    padding: 20px;
    color: white;
}
#tdinfo-container {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 98%;
    height: auto;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 1%;
}
#tdinfo-text {
    position: absolute;
    padding: 10px;
    color: white;
    background-color: rgba(93, 188, 210, 0.8);
    font-family: 'Teko', sans-serif;
    font-size: 4.7vw;
    overflow: hidden;
}
#tdinfo-img {
    width: 100%;
}
#tdinfo-container1 {
    display: none;
}
#seasonpass-container {
    margin: 1%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    position: relative;
}
#seasonpass-text {
    width: 98%;
    margin: 1%;
    height: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 40%;
    position: absolute;
    color: white;
    z-index: 2;
}
#seasonpass-logo {
    top: 10%;
    position: absolute;
    width: 28%;
    border: 3px solid white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 11%;
    z-index: 2;
}
#seasonpass-overlay {
    position: absolute;
    background-color: black;
    opacity: 80%;
    width: 100%;
    height: 100%;
}
#seasonpass-img {
    width: 100%;
    height: auto;
}
#seasonpass-button {
    margin-top: 35%;
    position: absolute;
    font-size: 17px;
    padding: 13px;
    border: 4px solid white;
    border-radius: 10px;
    color: white;
    margin-bottom: 10%;
}
#seasonpass-button:hover {
    opacity: 60%;
}
div > #seasonpass {
    /*opacity: 100%;*/
    background-color: rgb(176, 58, 49);
    position:absolute;
    font-size: 4vw;
    color: white;
}
#news {
    opacity: 60%;
}
#news-container {
    padding-top: 16px;
    flex-flow: row wrap;
    padding-bottom: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: rgba(256,256,256, 0.7);
}
#news-container-1-nested-0, #news-container-1-nested-1, #news-container-1-nested-2, #news-container-2-nested-0, #news-container-2-nested-1, #news-container-2-nested-2 {
    width: 33%;
    height: 24vw;
}
#news-container-2-nested-0, #news-container-2-nested-1, #news-container-2-nested-2 {
    margin-bottom: -23px;
}
#news-container-nested-1and2-0, #news-container-nested-1and2-1, #news-container-nested-1and2-2, #news-container-nested-1and2-3 {
    /*display: flex;*/
    /*justify-content: center;*/
    /*flex-flow: row wrap;*/
    display: none;
}
#news-img-2 {
    padding: 23px;
    opacity: 90%;
    width: 100%;
    height: auto;
}
#news-img-1 {
    padding: 23px;
    opacity: 90%;
    width: 100%;
    height: auto;
}
#news-text-1, #news-text-2, #news-text-2-0, #news-text-1-0 {
    color: black;
    padding-left: 25px;
    padding-right: 55px;
    font-size: 20px;
}
#news:hover {
    opacity: 100%;
}
#maincontent > #glgaming-top {
    margin: 1%;
    height: 700px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
}
#glgaming-top-img {
    height: 400px;
    width: auto;
    padding-bottom: 90px;
    align-items: center;
    justify-content: center;
}
#glgaming-top-link {
    margin-bottom: 20px;
    font-size: 17px;
    padding: 13px;
    border: 4px solid white;
    border-radius: 10px;
    color: white;
}
#glgaming-top-link:hover {
    opacity: 60%;
}
#discord-container-main {
    padding-right: 60px;
    padding-top: 120px;
    height: 650px;
    background-color: rgba(59, 60, 64, 0.9);
    width: 98%;
    position: relative;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 1%;
}
#discord-server-widget {
    height: 400px;
    width: 35%;
}
#discord-server-widget-container {
    display: flex;
    justify-content: flex-end;
}
#discord-container-text {
    padding-left: 40px;
    color: rgba(123, 123, 123);
    position: absolute;
    width: 60%;
}
#discord-container-text-h2 {
    padding-bottom: 50px;
}
#discord-container-text-h3 {
    padding-bottom: 70px;
}
#maincontent > #video-container {
    width: 98%;
    height: auto;
    margin: 1%;
    background-color: rgba(59, 60, 64, 0.8)
}
#video {
    width: 100%;
    height: 90vh;
}
#previous-broadcasts {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 7.1813285457809695vh;
    background-color: rgba(0, 0, 0, 0.8);
}
#previous-broadcasts-text {
    color: white;
    font-size: 2rem;
}
#previous-broadcasts-video-container {
    display: flex;
    flex-flow: row nowrap;
    margin: 1%;
}
#gitwu-container {
    background-color: rgba(59, 60, 64, 0.9);
    margin: 1%;
}
#gitwu {
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: 3px solid white;
    padding: 20px;
    color: white;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 17px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: rgba(59, 60, 64, 0.01);
    border: 3px solid white;
    color: white;
    padding: 12px 20px;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: rgba(9, 108, 152, 1)
}
#gitwu-contactform-container {
    padding: 20px;
}
#contactform #alert {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}
#firstn, #lastn, #email, #country, #subject {
    border-radius: 5px;
}
label {
    font-weight: bold;
    color: white;
}
#invalidfirstn {
    display: none;
    border: 2px solid rgb(177, 0, 0);
    border-radius: 5px;
    background-color: rgba(250, 61, 61, 0.7);
    color: black;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 9px;
}
#invalidlastn {
    display: none;
    border: 2px solid rgb(177, 0, 0);
    border-radius: 5px;
    background-color: rgba(250, 61, 61, 0.7);
    color: black;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 9px;
}
#invalidemail {
    display: none;
    border: 2px solid rgb(177, 0, 0);
    border-radius: 5px;
    background-color: rgba(250, 61, 61, 0.7);
    color: black;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 9px;
}
#empty {
    display: none;
    border: 2px solid rgb(177, 0, 0);
    border-radius: 5px;
    background-color: rgba(250, 61, 61, 0.7);
    color: black;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 9px;
}
#pfotrFields {
    display: none;
    border: 2px solid rgb(177, 0, 0);
    border-radius: 5px;
    background-color: rgba(250, 61, 61, 0.7);
    color: black;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 9px;
}
#invalidcountry {
    display: none;
    border: 2px solid rgb(177, 0, 0);
    border-radius: 5px;
    background-color: rgba(250, 61, 61, 0.7);
    color: black;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 9px;
}
#invalidsubject {
    display: none;
    border: 2px solid rgb(177, 0, 0);
    border-radius: 5px;
    background-color: rgba(250, 61, 61, 0.7);
    color: black;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 9px;
}
#contactform > #alert {
    width: 100%;
    display: none;
    border: 2px solid rgb(48, 151, 6);
    border-radius: 5px;
    margin-bottom: 1%;
    margin-top: 1%;
    padding: 10px;
    background-color: rgba(76, 255, 65, 0.7);
}
#backgroundvideo {
    width: 98%;
    height: auto;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
}
#videobackground-container {
    position: relative;
}
#videomessage-overlay {
    position: absolute;
    background-color: black;
    opacity: 60%;
    width: 98%;
    height: 98%;
    margin: 1%;
}
#videomessage {
    width: 98%;
    margin: 1%;
    height: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 15%;
    position: absolute;
    color: white;
}
#videomessage-logo {
    width: 28%;
    border: 3px solid white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 11%;
}
#videomessage-h1 {
    font-size: 4rem;
    margin-bottom: 3%;
}#videomessage-h2 {
    font-size: 2rem;
    margin-bottom: 5%;
}
#videomessage-lm-link {
    font-size: 17px;
    padding: 13px;
    border: 4px solid white;
    border-radius: 10px;
    color: white;
}
#videomessage-lm-link:hover {
    opacity: 60%;
}
#trackinfo-container {
    background-color: rgba(59, 60, 64, 0.8);
    border-collapse: collapse;
    display: flex;
    flex-flow: row wrap;
    font-size: 2rem;
    width: 98%;
    margin: 1%;

}
#table-container {
    position: relative;
    height: 100%;
}
#table {
    background-color: rgba(9, 108, 152, 1);
    border-collapse: separate;
    border-spacing: 20px;
    display: flex;
    justify-content: space-evenly;
    width: 98%;
    height: 100%;
    margin: 1%;
}
tbody {
    font-size: 2.3rem;
    height: auto;
    margin: 2%;
    margin-bottom: 5%;
}
#button-underTable-container {
    margin-right: 9%;
    display: flex;
    justify-content: space-evenly;
}
#button-underTable, #button-underTable1, #button-underTable2 {
    position: absolute;
    font-size: 17px;
    padding: 13px;
    border: 4px solid white;
    border-radius: 10px;
    color: white;
    bottom: 0;
    margin-bottom: 2.3%;
}
#img-container-layout-0 {
    padding-top: 45px;
    width: auto;
    border-bottom: 4px solid white;
    padding-bottom: 45px;
    margin-left: 1%;
    margin-right: 1%;
}
#img-container-layout-1 {
    padding-top: 45px;
    width: auto;
    padding-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%;
}
#rules {
    margin-bottom: 1%;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    background-color: rgba(59, 60, 64, 0.9);
}
#rules-0 {
    border-bottom: 4px solid white;
}
#img-layout-0 {
    width: 98%;
    height: auto;
    margin-left: 1%;
    margin-right: 1%;
}
#rules > #rules-text-container-0 {
    width: 98%;
    margin-right: 1%;
    margin-left: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 4px solid white;
    padding-top: 10px;
    padding-bottom: 10px;
}
#rules-text-container-1 {
    width: 98%;
    margin-right: 1%;
    margin-left: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 4px solid white;
    padding-top: 10px;
    padding-bottom: 10px;
}
#rules-2nd-part, #rules-1st-part {
    padding-top: 20px;
}
#layout-text {
    margin: 10px;
    color: white;
    font-size: 3.4rem;
}
#introduction-text, #compgroups-text, #awdClass-text {
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 3.4rem;
    color: white;
}
#rules-1st-part, #rules-2nd-part {
    margin-left: 1%;
    margin-right: 1%;
}
#rules {
    color: white;
}
#rules-text-last {
    border-bottom: 4px solid white;
    padding-bottom: 40px;
}
#rules-text, #rules-text-last {
    margin-top: 20px;
}
#rules-text:nth-last-child(1) {
    padding-bottom: 20px;
}
#street-text {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 2.4rem;
}
#button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 20px;
    border-bottom: 4px solid white;
}
/*#lineup-container {*/
/*    margin-bottom: 1%;*/
/*    margin-top: 1%;*/
/*    margin-left: 1%;*/
/*    margin-right: 1%;*/
/*    background-color: rgba(59, 60, 64, 0.9);*/
/*}*/
#lastSeasDrivers-text {
    margin: 10px;
    color: white;
    font-size: 3.4rem;
}
#lastSeasDrivers {
    margin-top: 1%;
    margin-right: 1%;
    margin-left: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#lastSeasDrivers-text {
    padding: 20px;
    background-color: rgba(14, 11, 4, 0.8);
    position: absolute;
}
#lastSeasDrivers-img {
    width: 100%;
}
@media only screen and (max-width: 1820px) {
    #button-underTable {
        margin-left: -1%;
    }
    #button-underTable2 {
        margin-left: 1%;
    }
}
@media only screen and (max-width: 1750px) {
    #button-underTable {
        margin-left: -2.4%;
    }
    #button-underTable2 {
        margin-left: 2%;
    }
}
@media only screen and (max-width: 1640px) {
    #button-underTable {
        margin-left: -4.8%;
    }
    #button-underTable2 {
        margin-left: 4%;
    }
}
@media only screen and (max-width: 1540px) {
    #button-underTable {
        margin-left: -7.2%;
    }
    #button-underTable2 {
        margin-left: 6%;
    }
}
@media only screen and (max-width: 1498px) {
    #news-container-1-nested-0, #news-container-1-nested-1, #news-container-1-nested-2, #news-container-2-nested-0, #news-container-2-nested-1, #news-container-2-nested-2 {
        height: 25vw;
    }
}
@media only screen and (max-width: 1438px) {
    #news-container-1-nested-0, #news-container-1-nested-1, #news-container-1-nested-2, #news-container-2-nested-0, #news-container-2-nested-1, #news-container-2-nested-2 {
        height: 28vw;
    }
}
@media only screen and (max-width: 1284px) {
    #news-container-1-nested-0, #news-container-1-nested-1, #news-container-1-nested-2, #news-container-2-nested-0, #news-container-2-nested-1, #news-container-2-nested-2 {
        height: 30vw;
    }
}
@media only screen and (max-width: 1199px) {
    #news-container-1-nested-0, #news-container-1-nested-1, #news-container-1-nested-2, #news-container-2-nested-0, #news-container-2-nested-1, #news-container-2-nested-2 {
        height: 32vw;
    }
}
@media only screen and (max-width: 1160px) {
    #button-underTable {
        margin-left: -9.4%;
    }
    #button-underTable2 {
        margin-left: 8%;
    }
}
#tDate-short {
    display: none;
}
#button-underTable:hover {
    opacity: 60%;
}
#button-underTable1:hover {
    opacity: 60%;
}
#button-underTable2:hover {
    opacity: 60%;
}
#previous-broadcasts-video {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}
#previous-broadcasts-video-iframe0 {
    margin-right: 1%;
    width: 24.2%;
}
#previous-broadcasts-video-iframe1 {
    margin-right: 1%;
    width: 24.2%;
}
#previous-broadcasts-video-iframe2 {
    margin-right: 1%;
    width: 24.2%;
}
#previous-broadcasts-video-iframe3 {
    width: 24.2%;
}
@media only screen and (max-width: 1160px) {
    #latest-news {
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 30px;
        font-size: 90px;
        background-color: rgba(0, 29, 50, 0.8);
    }
    #latest-news-container {
        border: 3px solid black;
        position: relative;
    }
    #latest-news {
        position: absolute;
        right: 25%;
    }
    #news-container-1-nested-0, #news-container-2-nested-0 {
        width: 100%;
        height: 30%;
    }
    #news-container-1-nested-0, #news-container-1-nested-1, #news-container-1-nested-2, #news-container-2-nested-0, #news-container-2-nested-1, #news-container-2-nested-2 {
        height: unset;
    }
    #news-container-1-nested-1, #news-container-1-nested-2, #news-container-2-nested-1, #news-container-2-nested-2 {
        width: 50%;
    }
    #news-container-1-nested-0 {
        margin-top: -17px;
    }
    #news-container-1-nested-1, #news-container-1-nested-2 {
        margin-bottom: 23px;
    }
    #news-container-1-nested-1, #news-container-1-nested-2, #news-container-2-nested-1, #news-container-2-nested-2 {
        display: none;
    }
    #news-text-1-0, #news-text-2-0 {
        font-size: 1.6rem;
    }
    #news-container-2-nested-0 {
        margin-bottom: 0.5%;
    }
    #news-container-1-nested-0 {
        margin-bottom: 2%;
    }
    #news-container-nested-1and2 {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
    }
    #news-container-nested-1and2-0, #news-container-nested-1and2-1, #news-container-nested-1and2-2, #news-container-nested-1and2-3 {
        width: 50%;
        display: flex;
    }
    #tDate-back, #tVenue-back, #tTrack-back, #tFormat-back, #button-underTable-container {
        display: none;
    }
    #table {
        margin-bottom: 0;
        margin: 1%;
    }
    #tDate-short {
        padding: 30px;
        display: flex;
        flex-direction: column;
    }
    #tDate-short-style {
        margin-bottom: 10%;
        margin-top: 10%;
        border: 3px solid white;
        font-size: 3rem;
        padding: 60px;
        border-radius: 10px;
        background-color: rgba(256, 256, 256, 0.1);
    }
    #tDate-short-style:hover {
        opacity: 20%;
    }
    #aside-container {
        flex-flow: column wrap;
    }
    #aside1 {
        border: 3px solid black;
        margin-bottom: 0.5%;
        width: 100%;
    }
    #aside2 {
        border: 3px solid black;
        margin-top: 0.5%;
        margin-left: -0%;
        width: 100%;
    }
    #aside1-text {
        font-size: 50px;
    }
    #aside2-text {
        font-size: 50px;
    }
    #tdinfo-container {
    display: none;
    }
    #tdinfo-container1 {
        border: 3px solid black;
        background-color: rgba(9, 108, 152, 0.8);
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 98%;
        height: auto;
        margin-right: 1%;
        margin-left: 1%;
        margin-bottom: 1%;
    }
    #tdinfo-text1 {
        margin-right: 5%;
        margin-left: 5%;
        position: absolute;
        color: white;
        background-color: rgba(93, 188, 210, 0.8);
        font-family: 'Teko', sans-serif;
        font-size: 90px;
        overflow: hidden;
    }
    #tdinfo-img1 {
        width: 100%;
        opacity: 70%;
    }
    #tdinfo-img1:hover {
        opacity: 90%;
    }
    #tdinfo-img1:hover ~ #tdinfo-text1 {
        display: none;
    }
    #tdinfo-img1:hover ~ #tdinfo-container1 {
        background-color: transparent;
    }
    #videomessage-logo {
        margin-top: -50px;
    }
    #backgroundvideo {
        border: 3px solid black;
    }
    #glgaming-top-img {
        height: 300px;
    }
    #previous-broadcasts-video {
        flex-flow: row wrap;
    }
    #previous-broadcasts-video-iframe0, #previous-broadcasts-video-iframe1, #previous-broadcasts-video-iframe2, #previous-broadcasts-video-iframe3 {
        width: 49.5%;
        height: 25vh;
        margin: 0;
        padding: 0;
    }
    #previous-broadcasts-video-iframe0 {
        margin-bottom: 1%;
        margin-right: 1%;
    }
    #previous-broadcasts-video-iframe1 {
        margin-bottom: 1%;
    }
    #previous-broadcasts-video-iframe2 {
        margin-right: 1%;
    }
}
@media only screen and (max-width: 959px) {
    #videomessage-h1 {
        font-size: 3.2rem;
    }
    #videomessage-h2 {
        font-size: 1.7rem;
    }
    #news-img-1 {
        padding: 10px;
    }
    #news-img-2 {
        padding: 10px;
    }
    #news-container-1 {
        padding-bottom: 30px;
    }
    #news-container-2 {
        padding-bottom: 140px;
    }
    #seasonpass-button {
        margin-top: 360px;
    }
    #glgaming-top-img {
        height: 250px;
    }
    #latest-news {
        font-size: 70px;
    }
    #aside1-text {
        font-size: 40px;
    }
    #aside2-pic {
        font-size: 40px;
    }
    #uev > h1 {
        font-size: 50px;
    }
    #tdinfo-text1 {
        font-size: 70px;
    }
}
@media only screen and (max-width: 820px) {
    #videomessage-h1 {
        font-size: 2.7rem;
    }
    #videomessage-h2 {
        font-size: 1.5rem;
    }
    #latest-news {
        font-size: 50px;
    }
    #tdinfo-text1 {
        font-size: 50px;
    }
    #aside1-text {
        font-size: 30px;
    }
    #aside2-text {
        font-size: 30px;
    }
    #uev > h1 {
        font-size: 40px;
    }
    #discord-container-main, #discord-container-text, #discord-server-widget-container, #discord-server-widget, #discord-container-text-h2, #discord-container-text-h3 {
        height: auto;
        position: unset;
        padding: 0;
        margin: 0;
    }
    #discord-server-widget {
        width: 100%;
        height: 40vh;
    }
    #discord-container-main {
        margin: 1%;
        height: auto;
    }
    #glgaming-top-link {
        margin-bottom: 50px;
    }
    #discord-container-text {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    #discord-container-text-h2 {
        margin: 30px;
    }
    #discord-container-text-h3 {
        margin: 30px;
    }
    #previous-broadcasts-video-iframe0, #previous-broadcasts-video-iframe1, #previous-broadcasts-video-iframe2, #previous-broadcasts-video-iframe3 {
        width: 100%;
        height: 40vh;
        margin: 0;
    }
    #previous-broadcasts-video-iframe0 {
        margin-bottom: 1%;
    }
    #previous-broadcasts-video-iframe1 {
        margin-bottom: 1%;
    }
    #previous-broadcasts-video-iframe2 {
          margin-bottom: 1%;
    }
    #previous-broadcasts-video-iframe3 {
        margin-bottom: 1%;
    }
    #news-container-1-nested-0 {
        margin-top: -1%;
    }
    #news-container-2-nested-0 {
        margin-top: -3%;
    }
    #news-container-1-nested-0, #news-container-1-nested-1, #news-container-1-nested-2, #news-container-2-nested-0, #news-container-2-nested-1, #news-container-2-nested-2 {
        display: flex;
        width: 50%;
        height: 30vh;
    }
    #news-text-1-0, #news-text-2-0 {
        font-size: 20px;
    }
    #news-container-nested-1and2 {
        display: none;
    }
    #button-container {
        padding-bottom: unset;
    }
}
@media only screen and (max-width: 654px) {
    #videomessage-logo {
        margin-top: -35px;
        margin-bottom: 18px;
    }
    #videomessage-lm-link {
        margin-top: -10px;
    }
    #news-container-1-nested-0, #news-container-1-nested-1, #news-container-1-nested-2, #news-container-2-nested-0, #news-container-2-nested-1, #news-container-2-nested-2 {
        height: unset;
        width: 100%;
        height: auto;
        margin: 0;
    }
    #news-container-1-nested-0 {
        margin-top: -2%;
    }
    #news-container-2-nested-2 {
        margin-bottom: -5%;
    }
}
@media only screen and (max-width: 540px) {
    #videomessage-logo {
        margin-top: -25px;
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 535px) {
    #videomessage-logo {
        margin-top: -20px;
        margin-bottom: 25px;
    }
    #videomessage-h1 {
        font-size: 1.7rem;
    }
    #videomessage-h2 {
        font-size: 0.9rem;
    }
    #latest-news {
        font-size: 40px;
    }
    #tdinfo-text1 {
        font-size: 40px;
    }
    #aside1-text {
        font-size: 20px;
    }
    #aside2-text {
        font-size: 20px;
    }
    #uev > h1 {
        font-size: 30px;
    }
}


/* Footer Content: */


#page-footer {
    background-image: url("Pictures/white.png");
    background-repeat: repeat;
    background-size: 400px;
    background-color: rgba(9, 108, 152, 0.3);
    opacity: 30%;
    width: 100%;
    height: 200px;
    margin-top: auto;
}
